[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
python-docx = "*"
pywin32 = "*"
psycopg2 = "*"
flask = "*"
docx = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]

[pipenv]
allow_prereleases = true
